<mat-card>
  <mat-spinner *ngIf="is_loading"></mat-spinner>
  <form
    [formGroup]="this.form"
    *ngIf="is_loading == false"
    (submit)="onSavePost()"
  >
    <mat-form-field>
      <input
        matInput
        name="title"
        formControlName="title"
        type="text"
        placeholder="Titulo"
      />
      <mat-error *ngIf="this.form.get('title').invalid"
        >Introduzca un título</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        name="content"
        formControlName="content"
        type="text"
        placeholder="Contenido"
      />
      <mat-error *ngIf="form.invalid"
        >Introduzca un contenido a guardar</mat-error
      >
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        Escoja una imagen
      </button>
      <input type="file" #filePicker />
    </div>
    <button mat-raised-button color="accent" type="submit">Guardar</button>
  </form>
</mat-card>
