:host {
  display: block;
  margin-top: 16px;
}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 16px;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 80px;
  margin: 16px 0px;
}

.image-preview img {
  height: 100%;
}
