:host {
  display: block;
  margin-top: 16px;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.image-preview {
  height: 100%;
  width: 100%;
}

.image-preview img {
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 5px;
}
