<mat-spinner *ngIf="is_loading"></mat-spinner>
<mat-accordion
  multi="true"
  *ngIf="this.posts.length > 0 && is_loading == false"
>
  <mat-expansion-panel *ngFor="let post of this.posts">
    <mat-expansion-panel-header> {{ post.title }} </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <a mat-raised-button color="primary" [routerLink]="['edit/', post.id]">
        EDITAR
      </a>
      <button mat-raised-button color="warn" (click)="onDelete(post)">
        ELIMINAR
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p
  class="info-text mat-body-1"
  *ngIf="this.posts.length < 1 && is_loading == false"
>
  No se ha generado ningun post
</p>
