:host {
  display: block;
  margin-top: 16px;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.image-preview {
  height: 100px;
  width: auto;
  margin-bottom: 16px;
}

.image-preview img {
  height: 100px;
  width: auto;
  box-shadow: 1px 1px 5px;
}

mat-paginator {
  margin-top: 16px;
}
